@font-face {
    font-family: Font1;
    src: url(Lemons.ttf);
}

@font-face {
    font-family: Font4;
    src: url(Napoli.ttf);
}

body {
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #3ab7ff;
    width: 250px;
    padding: 20px;
    font-family: 'Font1';
    font-size: 16px;
}

.sidebar h3 {
    font-size: 2rem;
    font-family: Font1;
    color: whitesmoke;
}

.sidebar .menu-item {
    color: white;
    margin-top: 23px;
    font-family: Font1;
    cursor: pointer;
}

.sidebar .menu-item:hover {
    color: #121212;
}

.maincontent {
    flex: 1;
    padding: 30px;
    background-color: #75c1ff;
}

.maincontent h1 {
    font-size: 2.5rem;
    font-family: Font1;
    color: #ffffff;
}

.forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.forms .group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 20px;
    font-family: Font4;
    color: #ffffff;
}

input, select {
    padding: 8px;
    border: 1px solid #6ac8ff;  
    background-color: #3ca1ff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: Font4;
}

input[type="number"], select {
    appearance: none;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008cff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: Font4;
}

button:hover {
    background-color: #3d8f41;
}

/* Add specific spacing for radio buttons */
.forms .group div {
    display: flex;
    align-items: center;
    gap: 10px;
}
